.partners{
    --upper-text-width: 100%;
}

.partners__outer-box{
    background-image: url("../imports/partners-back.png");
    background-size: cover;
    padding: 0;
}

.partners__inner-box{
    background-color: var(--light-salad);
    padding: var(--space-2) 0;
}

.partners__content-wrapper{
    padding: 0 var(--space-3);
}

.partners__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.partners__left-image,
.partners__right-image {
    background-size: cover;
    width: 20%;
    padding: 10% 10% 5%;
}

.partners__left-image{
    align-self: flex-start;
    background-image: url("https://www.starbucks.com/app-assets/c7d010ad5c5f6c00d5446d2f8c652c42.svg");
}

.partners__right-image{
    align-self: flex-end;
    background-image: url("https://www.starbucks.com/app-assets/c87d1677e476d2d20e5f114e5068d2cd.svg");
}

.partners__center-content{
    width: 100%;
    height: 100%;
}

.partners__upper-text{
    width: var(--upper-text-width);
    margin: 0 calc((100% - var(--upper-text-width))/2);
}

.partners__header{
    text-align: center;
    padding-top: var(--space-3);
    padding-right: var(--space-7);
    padding-left: var(--space-7);

    line-height: 1.385;
    font-size: var(--font-size-5);
    font-family: var(--semi-bold-font);
}

.partners__body{
    text-align: center;
    padding-top: var(--space-3);
}

.partners__partners-list-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-top: var(--space-5);
    padding-left: 0;
    padding-right: 0;
}

.partners__partners-list{
    text-align: center;
    width: 100%;
}

.partners__image{
    width: 195px;
    padding-bottom: calc(19px / 4);
}

.partners__partner-info{
    padding-top: var(--space-1);
}

.partners__join-button{
    text-align: center;
    padding-top: var(--space-4);
    padding-bottom: var(--space-2);
}

@media (min-width: 375px) {

    .partners__header{
        font-size: var(--font-size-7);
    }
}

@media (min-width: 480px) {

    .partners{
        --upper-text-width: calc(100% * (5/6));
    }

    .partners__partners-list-wrapper{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 768px) {

    .partners{
        --upper-text-width: calc(100% * (2/3));
    }

    .partners__outer-box{
        padding: var(--space-5);
    }

    .partners__inner-box{
        padding: var(--space-6) 0;
    }

    .partners__content-wrapper{
        padding: 0 var(--space-4);
    }

    .partners__content{
        flex-direction: row;
    }

    .partners__left-image,
    .partners__right-image {
        width: auto;
        padding: 18% 10%;
        align-self: center;
    }

    .partners__left-image{
        background-image: url("https://www.starbucks.com/app-assets/7997fb008f368630d3ca3c1194fd8404.svg");
    }

    .partners__right-image{
        background-image: url("https://www.starbucks.com/app-assets/b7e1b20df72e802cb1cf0e97e8fe21d0.svg");
    }

    .partners__header{
        padding-right: 0;
        padding-left: 0;
        font-size: var(--font-size-8);
    }

    .partners__partners-list-wrapper{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 1024px) {

    .partners__content-wrapper{
        padding: 0 var(--space-6);
    }

    .partners__partners-list-wrapper{
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (min-width: 1280px) {

    .partners__partners-list-wrapper{
        padding-left: 130px;
        padding-right: 130px;
    }
}