.grid{
    font-size: 0;
    overflow-wrap: unset;
    display: block;
    text-align: left;
}

.grid-item{
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.grid.grid--medium-gutter{
    margin: 0 calc(var(--space-2) * -1);
}

.grid.grid--medium-gutter .grid-item{
    padding: 0 var(--space-2);
}

.grid img{
    height: auto;
    max-width: 100%;
}

@media (min-width: 1280px) {

    .grid.grid--medium-gutter{
        margin: 0 calc(var(--space-3) * -1);
    }

    .grid.grid--medium-gutter .grid-item{
        padding: 0 var(--space-3);
    }
}