@media (max-width: 374px) {
    --previous__padding-left: var(--space-3);
    --previous__padding-right: var(--space-3);

    --previous-header__margin-y: var(--space-3);
    --previous-header__padding-x: var(--space-3);

    --previous-orders__margin-top: var(--space-3);
    --previous-orders__min-height: calc(100vh - 64px);

    --unsigned-order-header__font-size: var(--font-size-5);
    --unsigned-order-body__font-size: var(--font-size-3);
    --unsigned-order-buttons__font-size: var(--font-size-2);
}

@media (min-width: 375px) and (max-width: 767px){
    main{
        --previous__padding-left: var(--space-3);
        --previous__padding-right: var(--space-3);

        --previous-header__margin-y: var(--space-3);
        --previous-header__padding-x: var(--space-3);

        --previous-orders__margin-top: var(--space-3);
        --previous-orders__min-height: calc(100vh - 72px);

        --unsigned-order-header__font-size: var(--font-size-7);
        --unsigned-order-body__font-size: var(--font-size-3);
        --unsigned-order-buttons__font-size: var(--font-size-2);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    main{
        --previous__padding-left: var(--logo__offset-medium);
        --previous__padding-right: 2.4rem;

        --previous-header__margin-y: var(--space-6);
        --previous-header__padding-x: 0;

        --previous-orders__margin-top: var(--space-5);
        --previous-orders__min-height: calc(100vh - 83px);

        --unsigned-order-header__font-size: var(--font-size-8);
        --unsigned-order-body__font-size: var(--font-size-4);
        --unsigned-order-buttons__font-size: var(--font-size-3);
    }
}

@media (min-width: 1024px) {
    main{
        --previous__padding-left: var(--logo__offset-large);
        --previous__padding-right: var(--space-6);

        --previous-header__margin-y: var(--space-6);
        --previous-header__padding-x: 0;

        --previous-orders__margin-top: var(--space-5);
        --previous-orders__min-height: calc(100vh - 99px);

        --unsigned-order-header__font-size: var(--font-size-8);
        --unsigned-order-body__font-size: var(--font-size-4);
        --unsigned-order-buttons__font-size: var(--font-size-3);
    }
}

.previous-content__wrapper{
    padding-left: var(--previous__padding-left);
    padding-right: var(--previous__padding-right);
}

.previous-content{
    display: flex;
    flex-direction: column;

    min-height: var(--previous-orders__min-height);
}

.previous-content__header-wrapper{
    margin: var(--previous-header__margin-y) 0;
    padding: 0 var(--previous-header__padding-x);
}

.previous-content__header{
    font-size: var(--font-size-7);
    line-height: 1.5;
    font-family: "Sodo Sans Bold", sans-serif;
}

.previous-orders__image{
    opacity: 1;
    max-width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in;
}

.previous-orders__unsigned{
    display: flex;
    flex-direction: column;

    max-width: 314px;
}

.unsigned-card__header{
    margin-top: var(--space-3);

    font-family: "Sodo Sans Semibold", sans-serif;
    line-height: 1.385;
    font-size: var(--unsigned-order-header__font-size);
}

.unsigned-card__body{
    margin: var(--space-3) 0;
    color: var(--soft-text-color);
    line-height: 1.5;
    font-size: var(--unsigned-order-body__font-size);
}

.unsigned-card__buttons{
    padding-top: var(--space-2);
    font-size: var(--unsigned-order-buttons__font-size);
}
