@font-face {
    font-family: 'Sodo Sans';
    src: url(fonts/sodo-sans/SoDoSans-Regular.ttf);
}

@font-face {
    font-family: 'Lander';
    src: url(fonts/lander/LanderGrande-Regular.otf);
}

@font-face {
    font-family: 'Pike';
    src: url(fonts/pike/Pike-Regular.otf)
}

@font-face {
    font-family: 'Sodo Sans Bold';
    src: url(fonts/sodo-sans/SoDoSans-Bold.ttf);
}

@font-face {
    font-family: 'Sodo Sans Light';
    src: url(fonts/sodo-sans/SoDoSans-Light.ttf);
}

html{
    --green: #00754a;
    --red: #b04a5a;
    --dark-red: #76232f;
    --yellow: #d69a2d;
    --dark-green: #1e3932;
    --light-yellow: #d7da58;
    --text-color: rgba(0, 0, 0, 0.87);
    --inversed-text-color: white;

    --font-size-1: 0.9rem;
    --font-size-2: 1rem;
    --font-size-3: 1.1rem;
    --font-size-4: 1.3rem;
    --font-size-5: 1.4rem;
    --font-size-6: 1.6rem;
    --font-size-7: 1.9rem;
    --font-size-8: 2.0rem;
    --font-size-9: 2.2rem;
    --font-size-10: 2.4rem;
    --font-size-11: 2.8rem;
    --font-size-12: 3.2rem;
    --font-size-13: 3.6rem;
    --font-size-14: 5.0rem;

    --space-1: 0.3em;
    --space-2: 0.5em;
    --space-3: 0.8em;
    --space-4: 1.0em;
    --space-5: 1.6em;
    --space-6: 2.0em;
    --space-8: 2.8em;
    --space-9: 3.2em;
    --space-11: 4em;
}

.green{
    background-color: var(--green);
}

.red{
    background-color: var(--red);
}

.dark-red{
    background-color: var(--dark-red);
}

.yellow{
    background-color: var(--yellow);
}

.dark-green{
    background-color: var(--dark-green);
}

.light-yellow{
    background-color: var(--light-yellow);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'SoDo Sans', sans-serif !important;
}

div, span, tspan{
    font-family: "SoDo Sans Light", sans-serif !important;
}

@media (max-width: 252px){
    html{
        font-size: 6px;
    }
}

@media (max-width: 376px) {
    html{
        font-size: 8px;
    }
}

@media (max-width: 768px){
    html{
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 1025px){
    html{
        font-size: 16px;
    }
}
