@font-face {
    font-family: 'Sodo Sans';
    src: url(fonts/sodo-sans/SoDoSans-Regular.ttf);
}

@font-face {
    font-family: 'Lander';
    src: url(fonts/lander/LanderGrande-Regular.otf);
}

@font-face {
    font-family: 'Pike';
    src: url(fonts/pike/Pike-Regular.otf)
}

@font-face {
    font-family: 'Sodo Sans Bold';
    src: url(fonts/sodo-sans/SoDoSans-Bold.ttf);
}

@font-face {
    font-family: 'Sodo Sans Light';
    src: url(fonts/sodo-sans/SoDoSans-Light.ttf);
}

@font-face{
    font-family: 'Sodo Sans Semibold';
    src: url(fonts/sodo-sans/SoDoSans-SemiBold.ttf);
}

html{
    font-size: 10px;
    --green: #00754a;
    --red: #b04a5a;
    --dark-red: #76232f;
    --yellow: #d69a2d;
    --dark-green: #1e3932;
    --light-yellow: #d7da58;
    --text-color: rgba(0, 0, 0, 0.87);
    --inversed-text-color: white;
    --font-size-1: 1.3rem;
    --font-size-2: 1.4rem;
    --font-size-3: 1.6rem;
    --font-size-4: 1.9rem;
    --font-size-5: 2rem;
    --font-size-6: 2.2rem;
    --font-size-7: 2.4rem;
    --font-size-8: 2.8rem;
    --font-size-9: 3.6rem;
    --font-size-10: 5.0rem;
    --space-1: 0.4rem;
    --space-2: 0.8rem;
    --space-3: 1.6rem;
    --space-4: 2.4rem;
    --space-5: 3.2rem;
    --space-6: 4rem;
    --space-7: 4.8rem;
    --space-8: 5.6rem;
    --space-9: 6.4rem;
    --gutter-small: 1.6rem;
    --gutter-medium: 2.4rem;
    --gutter-large: 4rem;
}

.green{
    background-color: var(--green);
}

.red{
    background-color: var(--red);
}

.dark-red{
    background-color: var(--dark-red);
}

.yellow{
    background-color: var(--yellow);
}

.dark-green{
    background-color: var(--dark-green);
}

.light-yellow{
    background-color: var(--light-yellow);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'SoDo Sans', sans-serif !important;
}

div, span, tspan{
    font-family: "SoDo Sans Light", sans-serif !important;
}

.text-upper{
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.text-bold{
    font-family: "Sodo Sans Bold", sans-serif;
}

.text-semibold{
    font-family: "Sodo Sans Semibold", sans-serif !important;
    font-weight: 100;
}

.no-decoration{
    text-decoration: none;
    color: var(--text-color);
}