@font-face {
    font-family: 'Sodo Sans';
    src: url(fonts/sodo-sans/SoDoSans-Regular.ttf);
}

@font-face {
    font-family: 'Lander';
    src: url(fonts/lander/LanderGrande-Regular.otf);
}

@font-face {
    font-family: 'Pike';
    src: url(fonts/pike/Pike-Regular.otf)
}

@font-face {
    font-family: 'Sodo Sans Bold';
    src: url(fonts/sodo-sans/SoDoSans-Bold.ttf);
}

@font-face {
    font-family: 'Sodo Sans Light';
    src: url(fonts/sodo-sans/SoDoSans-Light.ttf);
}

html{
    --green: #00754a;
    --red: #b04a5a;
    --yellow: #d69a2d;
    --dark-green: #1e3932;
    --light-yellow: #d7da58;
    --text-color: rgba(0, 0, 0, 0.87);
    --inversed-text-color: white;
}

.green{
    background-color: var(--green);
}

.red{
    background-color: var(--red);
}

.yellow{
    background-color: var(--yellow);
}

.dark-green{
    background-color: var(--dark-green);
}

.light-yellow{
    background-color: var(--light-yellow);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'SoDo Sans', sans-serif;
}

div, span, tspan{
    font-family: "SoDo Sans", sans-serif;
}

@media (max-width: 252px){
    html{
        font-size: 6px;
    }
}

@media (max-width: 376px) {
    html{
        font-size: 8px;
    }
}

@media (max-width: 768px){
    html{
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 1025px){
    html{
        font-size: 16px;
    }
}
