@media (max-width: 374px){
    main{
        --text-block__width: 92%;
        --text-block__padding: var(--space-5) 0;
        --text-block__margin: 0 var(--space-3);
        --text-block__font-size: var(--font-size-1);
    }
}

@media (min-width: 375px) and (max-width: 767px){
    main{
        --text-block__width: 85%;
        --text-block__padding: var(--space-5) 0;
        --text-block__margin: 0 var(--space-3);
        --text-block__font-size: var(--font-size-1);
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    main{
        --text-block__width: 60%;
        --text-block__padding: var(--space-5) 0;
        --text-block__margin: 0 var(--space-4);
        --text-block__font-size: var(--font-size-2);
    }

    .reversed{
        flex-direction: row-reverse !important;
    }
}

@media (min-width: 1024px) {
    main{
        --text-block__width: 60%;
        --text-block__padding: var(--space-5) 0;
        --text-block__margin: 0 var(--space-6);
        --text-block__font-size: var(--font-size-2);
    }

    .reversed{
        flex-direction: row-reverse !important;
    }
}

@media (min-width: 1280px) {
    main{
        --text-block__margin: 0 var(--space-7);
    }
}

.text-block__wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;

    text-align: center;
    max-width: var(--text-block__width);
    box-sizing: border-box;
    padding: var(--text-block__padding);
}

.text-block__text{
    font-size: var(--text-block__font-size);
    line-height: 1.8;
    margin: var(--text-block__margin);
    max-width: calc(1em * (calc(600 / 13)));
}