@media (max-width: 479px){
    footer{
        --wrapper__horizontal-padding: var(--gutter-small);

        --global-nav__flow: column;
        --global-nav__header__font-size: var(--font-size-3);
        --global-nav__body__font-size: 0;

        --global-nav__large-section__display: none;
        --global-nav__large-section-column__margin-left: 0;

        --global-nav__small-section__display: flex;
        --global-nav__small-section__margin-bottom: var(--space-2);
        
        --socials__link-wrapper__margin-right: 0;

        --second-nav__links-wrapper__display: inline-block;
        --second-nav__links-wrapper__margin-bottom: 0;
        --second-nav__link-wrapper__display: auto;
        --second-nav__link__padding: var(--space-2) 0;
        --second-nav__link__font-size: var(--font-size-2);
        --second-nav__link__text-align: left;
        --second-nav__link__margin-bottom: var(--space-1);
        --second-nav__link-separator__display: none;

        --сopyrights-font-size: var(--font-size-1);
    }
}

@media (min-width: 480px) and (max-width: 767px){
    footer{
        --wrapper__horizontal-padding: var(--gutter-small);

        --global-nav__flow: column;
        --global-nav__header__font-size: var(--font-size-3);
        --global-nav__body__font-size: 0;

        --global-nav__large-section__display: none;
        --global-nav__large-section-column__margin-left: 0;

        --global-nav__small-section__display: flex;
        --global-nav__small-section__margin-bottom: var(--space-3);

        --socials__link-wrapper__margin-right: var(--space-1);

        --second-nav__links-wrapper__display: inline-block;
        --second-nav__links-wrapper__margin-bottom: 0;
        --second-nav__link-wrapper__display: auto;
        --second-nav__link__padding: var(--space-2) 0;
        --second-nav__link__font-size: var(--font-size-2);
        --second-nav__link__text-align: left;
        --second-nav__link__margin-bottom: var(--space-1);
        --second-nav__link-separator__display: none;

        --сopyrights-font-size: var(--font-size-1);
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    footer{
        --wrapper__horizontal-padding: var(--gutter-medium);

        --global-nav__flow: column;
        --global-nav__header__font-size: var(--font-size-4);
        --global-nav__body__font-size: var(--font-size-3);

        --global-nav__large-section__display: none;
        --global-nav__large-section-column__margin-left: 0;

        --global-nav__small-section__display: flex;
        --global-nav__small-section__margin-bottom: var(--space-3);
        
        --socials__link-wrapper__margin-right: var(--space-1);

        --second-nav__links-wrapper__display: inline-block;
        --second-nav__links-wrapper__margin-bottom: 0;
        --second-nav__link-wrapper__display: auto;
        --second-nav__link__padding: var(--space-2) 0;
        --second-nav__link__font-size: var(--font-size-3);
        --second-nav__link__text-align: left;
        --second-nav__link__margin-bottom: var(--space-1);
        --second-nav__link-separator__display: none;

        --сopyrights-font-size: var(--font-size-2);
    }
}

@media (min-width: 1024px){
    footer{
        --wrapper__horizontal-padding: var(--gutter-large);

        --global-nav__flow: row;
        --global-nav__header__font-size: var(--font-size-4);
        --global-nav__body__font-size: var(--font-size-3);

        --global-nav__large-section__display: inline-block;
        --global-nav__large-section-column__margin-left: var(--space-5);

        --global-nav__small-section__display: none;
        --global-nav__small-section__margin-bottom: var(--space-3);

        --socials__link-wrapper__margin-right: var(--space-1);

        --second-nav__links-wrapper__display: flex;
        --second-nav__links-wrapper__margin-bottom: var(--space-1);
        --second-nav__link-wrapper__display: flex;
        --second-nav__link__padding: 0 var(--space-3);
        --second-nav__link__font-size: var(--space-3);
        --second-nav__link__text-align: center;
        --second-nav__link__margin-bottom: 0;
        --second-nav__link-separator__display: inline-block;

        --сopyrights-font-size: var(--font-size-2);
    }
}

.no-margin-bottom{
    margin-bottom: 0 !important;
}

.no-margin-left{
    margin-left: 0 !important;
}

.no-padding-left{
    padding-left: 0 !important;
}

.vertical-align-middle{
    vertical-align: middle;
}



.footer__back{
    padding-top: var(--space-4);
    padding-bottom: var(--space-4);
    position: relative;
    box-shadow: 0 -1px 3px rgba(0,0,0,.1),0 -2px 2px rgba(0,0,0,.06),0 0 2px rgba(0,0,0,.07);
}

.footer__wrapper{
    display: flex;
    padding: 0 var(--wrapper__horizontal-padding);
}

.footer__content{
    width: 100%;
}

.footer__global-navigation{
    display: flex;
    flex-direction: var(--global-nav__flow);
}



.footer__large-content-column{
    display: var(--global-nav__large-section__display);
    margin-left: var(--global-nav__large-section-column__margin-left);
    width: 190px;
    max-width: 190px;
}

.footer__content-column-header{
    font-size: var(--global-nav__header__font-size);
    margin-bottom: var(--space-4);
    line-height: var(--normal-line-height);
}

.footer__content-column-body{

}

.footer__global-navigation-link{
    display: block;

    margin-bottom: var(--space-2);
    padding: var(--space-2) 0;

    color: var(--soft-text-color);
    font-size: var(--global-nav__body__font-size);
    line-height: var(--normal-line-height);
}

.footer__global-navigation-link:hover{
    color: var(--text-color);
}

.footer__small-content-column{
    display: var(--global-nav__small-section__display);

    width: 100%;
    margin-bottom: var(--global-nav__small-section__margin-bottom);
}

.footer__expand-button-wrapper{
    display: flex;
    width: 100%;
}

.footer__expand-button{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: var(--space-2) 0;
}

.footer__expand-button-text{
    font-size: var(--global-nav__header__font-size);
}

.footer__expand-arrow{
    margin-left: var(--space-2);
    vertical-align: middle;
}



.footer__separator{
    padding: var(--space-5) 0;
}

.footer__separator::before{
    content: "";
    display: block;
    border-top: 2px solid var(--black-10);
}



.footer__socials-wrapper{
    display: flex;
    margin-left: -5px;
}

.footer__media-link-wrapper{
    margin-right: var(--socials__link-wrapper__margin-right);
}

.footer__media-link{
    display: inline-block;
    position: relative;
}

.footer__media-link-icon{
    color: black;
    vertical-align: middle;
}

.sb-icon-hover{
    transform: scale(0.3);
    transition: all 0.2s ease-out;
}

.footer__media-link-wrapper:hover .sb-icon-hover{
    transform: scale(1);
    fill: var(--black-10);
}



.footer__secondary-navigation-wrapper{
    display: var(--second-nav__links-wrapper__display);

    margin-top: var(--space-3);
    margin-bottom: var(--second-nav__links-wrapper__margin-bottom);
}

.footer__secondary-link-wrapper{
    display: var(--second-nav__link-wrapper__display);
    align-items: center;

    text-align: var(--second-nav__link__text-align);
    font-size: var(--second-nav__link__font-size);
}

.footer__secondary-link-wrapper:hover{
    text-decoration: underline;
}

.footer__secondary-link{
    display: block;

    margin-bottom: var(--second-nav__link__margin-bottom);
    padding: var(--second-nav__link__padding);

    color: var(--text-color);
    font-size: inherit;
    line-height: var(--normal-line-height);
}

.footer__secondary-link-separator{
    display: var(--second-nav__link-separator__display);

    padding: 0 var(--space-2);
    font-size: inherit;
}



.footer__copyrights{
    font-size: var(--сopyrights-font-size);
    color: var(--soft-text-color);
    line-height: var(--normal-line-height);

    padding: var(--space-3) 0;
}