.side-navigator{
    display: none;
    flex-basis: var(--menu__side-nav__width);

    padding: var(--space-3) 0;
}

.side-navigator__section{
    margin-top: var(--space-4);
}

.side-navigator__section-header{
    font-family: var(--semi-bold-font);
    font-size: var(--font-size-4);
}

.side-navigator__link-wrapper{
    margin: var(--space-3) 0;
}

.side-navigator__link{
    font-size: var(--font-size-3);
    color: var(--soft-text-color);
}


@media (min-width: 1024px) {

    .side-navigator{
        display: flex;
    }
}