@media (max-width: 767px){
    main{
        --menu-content__padding-left: 0;
    }

    footer{
        --footer__padding-left: var(--space-3);
        --footer__padding-right: var(--space-3);
        --footer__padding-top: var(--space-5);
        --footer__padding-bottom: 14.6rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    main{
        --menu-content__padding-left: var(--logo__offset-medium);
    }

    footer{
        --footer__padding-left: var(--logo__offset-medium);
        --footer__padding-right: 2.4rem;
        --footer__padding-top: var(--space-5);
        --footer__padding-bottom: 14.6rem;
    }
}

@media (min-width: 1024px) {
    main{
        --menu-content__padding-left: var(--logo__offset-large);
    }

    footer{
        --footer__padding-left: var(--logo__offset-large);
        --footer__padding-right: var(--space-6);
        --footer__padding-top: var(--space-7);
        --footer__padding-bottom: 14.6rem;
    }
}

.menu-content{
    display: flex;
    padding-left: var(--menu-content__padding-left);
}

.footer__back{
    padding-bottom: var(--footer__padding-bottom) !important;
    padding-top: var(--footer__padding-top) !important;
}

.footer__wrapper{
    padding-right: var(--footer__padding-right) !important;
    padding-left: var(--footer__padding-left) !important;
}