@media (min-width: 1025px){
    main{
        --right-padding: 120px;
        --subhav-display: flex;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    main{
        --right-padding: 100px;
        --subhav-display: flex;
    }
}

@media (max-width: 767px){
    main{
        --subhav-display: none;
    }
}



.sub-navigator{
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #edebe9;
    position: sticky;
    top: 0;
    display: var(--subhav-display);
    padding: 0 var(--right-padding);
}

.sub-navigator__button{
    margin: 1em;
    font-size: 13px;
}

.sub-navigator__button-text{
}

.sub-navigator__button-selected{
    box-shadow: inset 0 -1px var(--text-color);
    padding-bottom: 4px;
}

.notification-plate{
    background-color: var(--dark-green);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.functional-area-paddings{
    padding-left: 400px;
    padding-right: 18%;
    width: 100%;
}

.notification-plate__content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0;
    width: 100%;
}

.notification-plate__cart{
    width: 32px;
    height: 32px;
}

.notification-plate__country-select{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 0.5rem;
    box-shadow: inset 0 -2px 0 rgba(255,255,255,0.3);
}

.select-country__expand-arrow{
    display: flex;
    color: white;
    height: inherit;
    align-items: center;
}

.select-country__text{
    margin-right: 5rem;
}

.select-country__explanation{
    color: hsla(0,0%,100%,.7)
}

.select-country__call-to-action{
    color:#ffffff;
}