html{
    --black-10: rgba(0, 0, 0, 0.1);
    --black-20: rgba(0, 0, 0, 0.2);
    --black-30: rgba(0, 0, 0, 0.3);
    --black-40: rgba(0, 0, 0, 0.4);
    --black-50: rgba(0, 0, 0, 0.5);
    --black-60: rgba(0, 0, 0, 0.6);
    --black-70: rgba(0, 0, 0, 0.7);
    --black-80: rgba(0, 0, 0, 0.8);
    --black-90: rgba(0, 0, 0, 0.9);
    --green: #00754a;
    --red: #b04a5a;
    --dark-red: #76232f;
    --yellow: #d69a2d;
    --dark-green: #1e3932;
    --light-yellow: #d7da58;
    --pink: #e31c79;
}

.green{
    background-color: var(--green);
}

.red{
    background-color: var(--red);
}

.dark-red{
    background-color: var(--dark-red);
}

.yellow{
    background-color: var(--yellow);
}

.dark-green{
    background-color: var(--dark-green);
}

.light-yellow{
    background-color: var(--light-yellow);
}

.pink{
    background-color: var(--pink);
}