@font-face {
    font-family: 'Sodo Sans';
    src: url(../imports/fonts/sodo-sans/SoDoSans-Regular.ttf);
}

@font-face {
    font-family: 'Lander';
    src: url(../imports/fonts/Lander/LanderGrande-Regular.otf);
}

@font-face {
    font-family: 'Pike';
    src: url(../imports/fonts/pike/Pike-Regular.otf)
}

@font-face {
    font-family: 'Sodo Sans Bold';
    src: url(../imports/fonts/sodo-sans/SoDoSans-Bold.ttf);
}

@font-face {
    font-family: 'Sodo Sans Light';
    src: url(../imports/fonts/sodo-sans/SoDoSans-Light.ttf);
}

@font-face{
    font-family: 'Sodo Sans Semibold';
    src: url(../imports/fonts/sodo-sans/SoDoSans-SemiBold.ttf);
}

*{
    letter-spacing: -0.01em;
    line-height: 1.2;
}

html{
    font-size: 10px;

    --normal-line-height: 1.5;

    --soft-text-color: rgba(0, 0, 0, 0.58);
    --text-color: rgba(0, 0, 0, 0.87);
    --inversed-text-color: white;

    --font-size-1: 1.3rem;
    --font-size-2: 1.4rem;
    --font-size-3: 1.6rem;
    --font-size-4: 1.9rem;
    --font-size-5: 2rem;
    --font-size-6: 2.2rem;
    --font-size-7: 2.4rem;
    --font-size-8: 2.8rem;
    --font-size-9: 3.6rem;
    --font-size-10: 5.0rem;
}

body{
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "calt";
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Sodo Sans', sans-serif;
}

div, span, tspan, p{
    font-family: "SoDo Sans", sans-serif;
}

.text-upper{
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.text-bold{
    font-family: "Sodo Sans Bold", sans-serif;
}

.text-semibold{
    font-family: "Sodo Sans Semibold", sans-serif;
    font-weight: 100;
}

.no-decoration{
    text-decoration: none;
    color: var(--text-color);
}