@media (max-width: 768px){
    body{
        --content-margin: 1em 0;
        --content-flex-direction: column;
        --info-block-text-width: 100%;
        --info-block-image-width: 100%;
        --header-font-size: 2.4rem;
        --button-font-size: 1.5rem;
    }
}

@media (min-width: 768px){
    body{
        --content-margin: 1em;
        --content-flex-direction: row;
        --info-block-text-width: 50%;
        --info-block-image-width: 50%;
        --header-font-size: 3.2rem;
        --button-font-size: 1rem;
    }

    .reversed{
        flex-direction: row-reverse!important;
    }
}

@media (max-width: 1024px){
    .text-section{
        --text-section-font-size: 1rem;
        --text-section-width: 90%;
    }
}

@media (min-width: 1024px) {
    .text-section{
        --text-section-font-size: 0.9rem;
        --text-section-width: 50%;
    }
}

.info-block__wrapper{
    display: flex;
    position: relative;
    justify-content: center;
}

.info-block__content{
    display: flex;
    flex-direction: var(--content-flex-direction);

    margin: var(--content-margin);
    max-width: 1440px;
}

.info-block__text-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;

    width: var(--info-block-text-width);
    padding: 2em;
}

.info-block__text-small-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    max-width: 83%;
    font-family: "SoDo Sans", sans-serif;
}

.info-block__text-header{
    color: inherit;
    font-family: inherit;

    font-size: var(--header-font-size);
    font-weight: 800;
    margin-bottom: 0.5em;
}

.info-block__text{
    color: inherit;
    font-family: inherit;

    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-bottom: 2em;
}

.info-block__button{
    box-sizing: content-box;

    font-size: var(--button-font-size);
    font-family: inherit;
    color: inherit;

    border: 1px solid;
    border-radius: 50px;

    min-width: 35px;
    min-height: 35px;
    padding: 0.5em 1em;
}

.info-block__button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.info-block__image-section-wrapper{
    width: var(--info-block-image-width);
    height: 100%;
}

.info-block__image-section-wrapper img{
    object-fit: cover;
    height: 100%;
}

.info-block__image-wrapper{
    height: 100%;
}

.text-color__inverse{
    color: var(--inversed-text-color)!important;
}

.text-color{
    color: var(--text-color);
}

.text-section{
    display: flex;
    justify-content: center;
    align-content: center;

    width: 100%;
    margin: 3em 0;
}

.text-section div{
    text-align: center;

    width: var(--text-section-width);
    font-size: var(--text-section-font-size);
    color: var(--text-color);
}